@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.headingMd {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.links {
  display: grid;
  text-align: center;
  justify-content: center;
  color: azure;
}

.borderCircle {
  border-radius: 50%;
  border: 2px solid #281a94;
}

.h2 {
  margin: auto;
  color: #999;
}

.a {
  font-weight: bolder;
  font-size: 18px;
  margin: 1.5rem;
  text-align: center;
  justify-content: center;
  border: 1px solid #281a94;
  background: #2f2963;
  padding: 1.4rem;
  color: azure;
  border-radius: 1rem;
  width: 21rem;
}

.a:hover {
  background: #231e4b;
  transition: 0.2s;
}
